This is Pakistan data which contains 493 entries. Our objective in this notebook is to perform general data cleaning to prepare the data for analysis, visualization and modelling. 

Therefore, this notebook entails data cleaning processess, and techniques for categorial and quantitative columns. 

The end goal, to make the data clean for anyone interested in performing any type of processing to move on...Also, there will be removal of some columns we might not need. 


Following stages will focus on:

2. Data analysis and Visualization 
3. Predictive Modelling

In [ ]:
import pandas as pd
import numpy as np
working as a demo

# Phase One: Data Cleaning

We start by importing dataset, and important libraries.

In [12]:
#Importing relevant libraries 
import pandas as pd
import numpy as np

'''
 ~

During uploading this dataset it failed to uplaod and brought the error that (UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 0: invalid start byte)
Such an error  means the dataset contains some special characters.
You have to use the encoding as latin1 to read this file as there are some special character in this file, use the below code snippet to read the file.
''' 
pakistan=pd.read_csv("C:\\Users\\ADMIN\\Desktop\\PakistanV6.csv",encoding='latin1')
pakistan.head()

,Unnamed: 0,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,...,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
0,1,Sunday-November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,NaN,Islamabad,33.7180,73.0718,Capital,...,None,14.0,15.0,NaN,60,2.0,NaN,NaN,15.835,60.503
1,2,Monday-November 6-2000,10 SHa`baan 1421 A.H,Working Day,NaN,NaN,Karachi,24.9918,66.9911,Sindh,...,None,NaN,3.0,NaN,3,1.0,NaN,NaN,23.770,74.786
2,3,Wednesday-May 8-2002,25 safar 1423 A.H,Working Day,NaN,7:45 AM,Karachi,24.9918,66.9911,Sindh,...,Christian,13.0,15.0,20.0,40,1.0,2.5 Kg,1.Jinnah Postgraduate Medical Center 2. Civil ...,31.460,88.628
3,4,Friday-June 14-2002,3 Raby` al-THaany 1423 A.H,Working Day,NaN,11:10:00 AM,Karachi,24.9918,66.9911,Sindh,...,Christian,NaN,12.0,NaN,51,1.0,NaN,NaN,31.430,88.574
4,5,Friday-July 4-2003,4 Jumaada al-awal 1424 A.H,Working Day,NaN,NaN,Quetta,30.2095,67.0182,Baluchistan,...,Shiite,44.0,47.0,NaN,65,1.0,NaN,1.CMH Quetta \n2.Civil Hospital 3. Boland Medi...,33.120,91.616

In [13]:
#What's the shape of our dataset?
pakistan.shape

(492, 26)

In [14]:
#Let's get a glimps of our dataset..
pakistan.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492 entries, 0 to 491
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               492 non-null    int64
 1   Date                     492 non-null    object
 2   Islamic Date             336 non-null    object
 3   Blast Day Type           481 non-null    object
 4   Holiday Type             72 non-null     object
 5   Time                     281 non-null    object
 6   City                     492 non-null    object
 7   Latitude                 490 non-null    float64
 8   Longitude                490 non-null    object
 9   Province                 492 non-null    object
 10  Location                 489 non-null    object
 11  Location Category        457 non-null    object
 12  Location Sensitivity     456 non-null    object
 13  Open/Closed Space        457 non-null    object
 14  Influencing Event/Event  187 non-null    object
 15  Target Type              466 non-null    object
 16  Targeted Sect if any     443 non-null    object
 17  Killed Min               346 non-null    float64
 18  Killed Max               476 non-null    float64
 19  Injured Min              361 non-null    float64
 20  Injured Max              459 non-null    object
 21  No. of Suicide Blasts    410 non-null    float64
 22  Explosive Weight (max)   169 non-null    object
 23  Hospital Names           294 non-null    object
 24  Temperature(C)           487 non-null    float64
 25  Temperature(F)           485 non-null    float64
dtypes: float64(7), int64(1), object(18)
memory usage: 100.1+ KB

From the output above we discover that, there exist some null values and our dataset contains both float and object datatypes. There're some things to deal with in due course...

In [15]:
#Which columns do we have?
pakistan.columns

Index(['Unnamed: 0', 'Date', 'Islamic Date', 'Blast Day Type', 'Holiday Type',
       'Time', 'City', 'Latitude', 'Longitude', 'Province', 'Location',
       'Location Category', 'Location Sensitivity', 'Open/Closed Space',
       'Influencing Event/Event', 'Target Type', 'Targeted Sect if any',
       'Killed Min', 'Killed Max', 'Injured Min', 'Injured Max',
       'No. of Suicide Blasts', 'Explosive Weight (max)', 'Hospital Names',
       'Temperature(C)', 'Temperature(F)'],
      dtype='object')

We want to drop some columns we might not need in future, we won't need the following columns.
    
    1. Killed Min
    2. Injured Min
    3. Location Category
    4. Open/Closed Space
    3. Explosive Weight (max)
So before we start cleaning our data we need to drop the unwanted columns to clean what we will use to avoid wasting time unnecessariry.

In [16]:
#So here-below we drop these unwanted columns before going further..
def keep_cols(DataFrame, keep_these):
    """Keep only the columns [keep_these] in a DataFrame, delete
    all other columns. 
    """
    drop_these = list(set(list(DataFrame)) - set(keep_these))
    return DataFrame.drop(drop_these, axis = 1)

new_data = pakistan.pipe(keep_cols, ['Unnamed: 0', 'Date', 'Islamic Date', 'Blast Day Type', 'Holiday Type',
       'Time', 'City', 'Latitude', 'Longitude', 'Province', 'Location',
       'Location Category', 'Location Sensitivity', 'Influencing Event/Event', 'Target Type', 'Targeted Sect if any',
       'Killed Max', 'Injured Max',
       'No. of Suicide Blasts', 'Hospital Names',
       'Temperature(C)'])
new_data.head()

,Unnamed: 0,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,...,Location Category,Location Sensitivity,Influencing Event/Event,Target Type,Targeted Sect if any,Killed Max,Injured Max,No. of Suicide Blasts,Hospital Names,Temperature(C)
0,1,Sunday-November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,NaN,Islamabad,33.7180,73.0718,Capital,...,Foreign,High,NaN,Foreigner,None,15.0,60,2.0,NaN,15.835
1,2,Monday-November 6-2000,10 SHa`baan 1421 A.H,Working Day,NaN,NaN,Karachi,24.9918,66.9911,Sindh,...,Office Building,Low,NaN,Media,None,3.0,3,1.0,NaN,23.770
2,3,Wednesday-May 8-2002,25 safar 1423 A.H,Working Day,NaN,7:45 AM,Karachi,24.9918,66.9911,Sindh,...,Hotel,Medium,NaN,Foreigner,Christian,15.0,40,1.0,1.Jinnah Postgraduate Medical Center 2. Civil ...,31.460
3,4,Friday-June 14-2002,3 Raby` al-THaany 1423 A.H,Working Day,NaN,11:10:00 AM,Karachi,24.9918,66.9911,Sindh,...,Foreign,High,NaN,Foreigner,Christian,12.0,51,1.0,NaN,31.430
4,5,Friday-July 4-2003,4 Jumaada al-awal 1424 A.H,Working Day,NaN,NaN,Quetta,30.2095,67.0182,Baluchistan,...,Religious,Medium,during Friday prayer,Religious,Shiite,47.0,65,1.0,1.CMH Quetta \n2.Civil Hospital 3. Boland Medi...,33.120

We can discover that the above function has worked because now we've 22 columns instead of the initial 26. That means our function has worked out effectivelly. 
Now we can continue to perform cleaning on columns we can use only

# The following steps deal with quantitative values filling, or dropping the nulls

In [17]:
new_data.shape

(492, 21)

In [18]:
#Let's see if we have duplicate rows in our dataset and deal with them
duplicate_rows = new_data[new_data.duplicated()]
print("Number of duplicate rows:", duplicate_rows.shape)

#or write this function, #duplicate_rows.shape

Number of duplicate rows: (0, 21)

From the above output it shows, there're no duplicate rows in our dataset

In [19]:
#Lets see if we have null values in our dataset\

#One function to check nulls is here  new_data.isna().sum()

# Checking the Missing Values in the remaining columns in the dataset and the percentage to fill
missing_new_data =new_data.isnull().sum(axis=0).reset_index()
missing_new_data.columns = ['Column Name', 'Missing Values Count']
missing_new_data['Filling Factor (%)']=(new_data.shape[0]-missing_new_data['Missing Values Count'])/new_data.shape[0]*100
missing_new_data.sort_values('Filling Factor (%)').reset_index(drop = True)

                Column Name  Missing Values Count  Filling Factor (%)
0              Holiday Type                   420           14.634146
1   Influencing Event/Event                   305           38.008130
2                      Time                   211           57.113821
3            Hospital Names                   198           59.756098
4              Islamic Date                   156           68.292683
5     No. of Suicide Blasts                    82           83.333333
6      Targeted Sect if any                    49           90.040650
7      Location Sensitivity                    36           92.682927
8         Location Category                    35           92.886179
9               Injured Max                    33           93.292683
10              Target Type                    26           94.715447
11               Killed Max                    16           96.747967
12           Blast Day Type                    11           97.764228
13           Temperature(C)                     5           98.983740
14                 Location                     3           99.390244
15                Longitude                     2           99.593496
16                 Latitude                     2           99.593496
17                     City                     0          100.000000
18                     Date                     0          100.000000
19                 Province                     0          100.000000
20               Unnamed: 0                     0          100.000000

The above output shows alot of missing values, to proceed we have to deal with quantitative values first
Time, Islamic Date, No. of Suicide Blasts, Injured Max, Killed Max, Temperature(C) Longitude & Latitude, Islamic Date, Date.

# i. Tidining up the quantitative columns

For the following columns, Temperature(C), Killed Max, Injured Max, & No. of Suicide Blasts, I decide the filling creteria to be mean.

The following cells show the filling process


Learning process

Now I want to fill 3 columns with mode value, then fill the 3 columns with mean value

In [31]:
#Checking the mode.. of our columns
mode = new_data.filter(["Temperature(C)", "Killed Max", "Injured Max"]).mode()

In [32]:
#Now we want to fill our 3 columns with mode value of each column using this function
cols = ["Temperature(C)", "Killed Max", "Injured Max"]

new_data[cols]=new_data[cols].fillna(new_data.mode().iloc[0])

Now let's fill the same columns with mean value of each column

I want  a function to fill multiple columns with mean value

In [20]:
#We deal with these columns first (No. of Suicide Blasts, Injured Max, Killed Max, Temperature(C) )

mean_new_data = round(new_data['Temperature(C)'].mean())

#Fill with mean
print("Filling with mean value of {}".format(mean_new_data))
new_data['Temperature(C)'] = new_data['Temperature(C)'].fillna(mean_new_data)

Filling with mean value of 21

In [21]:
#We deal with these columns first (No. of Suicide Blasts, Injured Max, Killed Max, Temperature(C) )

mean_new_data = round(new_data['Killed Max'].mean())

#Fill with mean
print("Filling with mean value of {}".format(mean_new_data))
new_data['Killed Max'] = new_data['Killed Max'].fillna(mean_new_data)

Filling with mean value of 15

In [22]:
#We deal with these columns first (No. of Suicide Blasts, Injured Max, Killed Max, Temperature(C) )

mean_new_data = round(new_data['Injured Max'].mean())

#Fill with mean
print("Filling with mean value of {}".format(mean_new_data))
new_data['Injured Max'] = new_data['Injured Max'].fillna(mean_new_data)

TypeError: can only concatenate str (not "int") to str

In [23]:
#We deal with these columns first (No. of Suicide Blasts, Injured Max, Killed Max, Temperature(C) )

mean_new_data = round(new_data['No. of Suicide Blasts'].mean())

#Fill with mean
print("Filling with mean value of {}".format(mean_new_data))
new_data['No. of Suicide Blasts'] = new_data['No. of Suicide Blasts'].fillna(mean_new_data)

Filling with mean value of 1

# Now dealing with Latitude and Longitude

Latitudes and Longitudes are Geo-based features that contain records about the geography location of a place/point. Features like Longitudes, Latitudes and Address are Geo-features that need to engineered.

We can use libraries like Geojson, Geopy to convert these numerical values to physical address on a map. But this method is slow and does not really scale to large number of features. In this article, we will bypass this method and show simpler and quicker ways to extract features from longituds and latitudes. 

The manhattan distance is the sum of the horizontal and vertical distance between two points. Let's demonstrate this below using the sendy dataset.

In [ ]:
#https://github.com/risenW/Practical_feature_engineering_guide/blob/master/Practical%20Featture%20Engineering%20Guide.ipynb

#Manhattan distnace
def manhattan_distance(lat1, lng1):
    a = np.abs(lat1 -lat1)
    #b = np.abs(lng1 - lng2)
    #return a + b

new_data['distance_manhattan'] = manhattan_distance(new_data['Latitude'].values, new_data['Longitude'].values)
                                                   
new_data.head()



#Bearing method to deal with Latitude and Longitude
#We are going to use Bearing method...
#Bearing: The bearing is the compass direction to travel from a starting point, and must be within the range 0 to 360.

#Here, we first write the bearing function, then we use the function to calculate the bearing between Pickup and Destination.

'''
#Bearing
def bearing_array(lat1, lng1, lat2, lng2):
    AVG_EARTH_RADIUS = 6371  # in km
    lng_delta_rad = np.radians(lng2 - lng1)
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2))
    y = np.sin(lng_delta_rad) * np.cos(lat2)
    x = np.cos(lat1) * np.sin(lat2) - np.sin(lat1) * np.cos(lat2) * np.cos(lng_delta_rad)
    return np.degrees(np.arctan2(y, x))

sendy_data['bearing'] = bearing_array(sendy_data['Pickup Lat'].values, sendy_data['Pickup Long'].values,
                                                   sendy_data['Destination Lat'].values, sendy_data['Destination Long'].values)

sendy_data.head()
'''

Now dealing with the nulls within Latitude and Longitude columns

In [ ]:
#Here we fill the missing with mean 
mean_new_data = round(new_data['Latitude'].mean())

#Fill with mean
print("Filling with mean value of {}".format(mean_new_data))
new_data['Latitude'] = new_data['Latitude'].fillna(mean_new_data)

In [ ]:
#Now, let's fill the missing values with mean..
mean_new_data = round(new_data['Longitude'].mean())

#Fill with mean
print("Filling with mean value of {}".format(mean_new_data))
new_data['Longitude'] = new_data['Longitude'].fillna(mean_new_data)

# Date Time Now
Now dealing with data and time column

In [ ]:
#First convert to pandas datetime format
#Then deal with the missing dates in date time feature and fill them 
new_data['Time'] = pd.to_datetime(new_data['Time'])

# ii. Tidining up the categorical columns
Now we want to deal with categorical values, tide them and later encode them..but we'll tide one column 'City' the others 'Province', 'Hospital Names' and the others later...


We first start with the city column then later we can check on the Provice column


I'm interested in cleaning up the "City" column first to make sure there's no data entry inconsistencies in it. We could go through and check each row by hand, of course, and hand-correct inconsistencies when we find them. There's a more efficient way to do this though!

In [ ]:
# Useful tutorial https://www.kaggle.com/rtatman/data-cleaning-challenge-inconsistent-data-entry

'''
We first need to import helpful libraries to Do some preliminary text pre-processing
'''

import fuzzywuzzy
from fuzzywuzzy import process
import chardet

# set seed for reproducibility
np.random.seed(0)

# get all the unique values in the 'City' column
cities = new_data['City'].unique()
# sort them alphabetically and then take a closer look
cities.sort()
cities


#Can I have a code for multiples columns ?

Just looking at this, I can see some problems due to inconsistent data entry: 'Lahore' and 'Lahore ', for example, or 'Lakki Marwat' and 'Lakki marwat'.

The first thing I'm going to do is make everything lower case (I can change it back at the end if I like) and remove any white spaces at the beginning and end of cells. Inconsistencies in capitalizations and trailing white spaces are very common in text data and you can fix a good 80% of your text data entry inconsistencies by doing this.

In [ ]:
# convert to lower case
new_data['City'] = new_data['City'].str.lower()
# remove trailing white spaces
new_data['City'] = new_data['City'].str.strip()

Now our next step is to Use fuzzy matching to correct inconsistent data entry

let's take another look at the city column and see if there's any more data cleaning we need to do.

In [ ]:
# get all the unique values in the 'City' column, and also Province column.
cities = new_data['City'].unique()

# sort them alphabetically and then take a closer look
cities.sort()
cities

From the output above, we can see that all clumns are in small letters, and the inconsistent entries have been removed like  'Lahore' and 'Lahore ', for example, or 'Lakki Marwat' and 'Lakki marwat'

It does look like there are some remaining inconsistencies: 'd. i khan' and 'd.i khan' should probably be the same. (I looked it up and 'd.g khan' is a seperate city, so I shouldn't combine those.)

I'm going to use the fuzzywuzzy package to help identify which string are closest to each other. This dataset is small enough that we could probably could correct errors by hand, but that approach doesn't scale well. (Would you want to correct a thousand errors by hand? What about ten thousand? Automating things as early as possible is generally a good idea. Plus, it’s fun! :)

Fuzzy matching: The process of automatically finding text strings that are very similar to the target string. In general, a string is considered "closer" to another one the fewer characters you'd need to change if you were transforming one string into another. So "apple" and "snapple" are two changes away from each other (add "s" and "n") while "in" and "on" and one change away (rplace "i" with "o"). You won't always be able to rely on fuzzy matching 100%, but it will usually end up saving you at least a little time.

Fuzzywuzzy returns a ratio given two strings. The closer the ratio is to 100, the smaller the edit distance between the two strings. Here, we're going to get the ten strings from our list of cities that have the closest distance to "d.i khan".

In [ ]:
# get the top 10 closest matches to "d.i khan"
matches = fuzzywuzzy.process.extract("d.i khan", cities, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

# take a look at them
matches

From the output we can see that two of the items in the cities are very close to "d.i khan": "d. i khan" and "d.i khan". We can also see the "d.g khan", which is a seperate city, has a ratio of 88. Since we don't want to replace "d.g khan" with "d.i khan", let's replace all rows in our City column that have a ratio of > 90 with "d. i khan".

To do this, I'm going to write a function. (It's a good idea to write a general purpose function you can reuse if you think you might have to do a specific task more than once or twice. This keeps you from having to copy and paste code too often, which saves time and can help prevent mistakes.)

In [ ]:
# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 90):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")

In [ ]:
#Now let's test our function
# use the function we just wrote to replace close matches to "d.i khan" with "d.i khan"
replace_matches_in_column(df=suicide_attacks, column='City', string_to_match="d.i khan")


# Now we use the function we wrote in the above cell to replace close matches to "kuram agency" with "kuram agency"
             #replace_matches_in_column(df = suicideAttacks, column = 'City', string_to_match = "kuram agency")

And now let's check the unique values in our City column again and make sure we've tidied up d.i khan correctly.

In [ ]:
# get all the unique values in the 'Province' column. 
#Here we expect to output all the columns in the column
provinces = new_data['Province'].unique()

# sort them alphabetically and then take a closer look
provinces.sort()
provinces

From the above output, we've some unique columns, We can deal with them

In [ ]:
# get all the unique values in the 'City' column
cities = suicide_attacks['City'].unique()

# sort them alphabetically and then take a closer look
cities.sort()
cities

# Categorical Encoding 

We are now done with cleaning the 'City' column.. we can do the same to other categorical columns, like 'Province'

but first we are going to encode the 'City' column for ML modelling in the immediate cell 

To perform automated encoding, we will use an efficient library called categorical_encoders. This library offers numerous encoding schemes out of the box and has first hand support for Pandas DataFrame.

To install the library, you can use pip as follow:

pip install category_encoders

We are going to use the 

Hash Encoding: Hash encoding or feature hashing is a fast and space-efficient way of encoding features. It is very efficient for categorical features with large number of classes. Hash encoder works by applying a hash function to the features.

The following code will encode several columns... Lets see it below

In [34]:
#pip install category_encoders
import category_encoders as ce

cat_cols = ['City', 'Province', 'Location', 'Location Sensitivity', 'Location Category', 'Influencing Event/Event',
           'Target Type', 'Hospital Names'] 

hash_enc = ce.HashingEncoder(cols=cat_cols, n_components=15)
new_data = hash_enc.fit_transform(new_data)

new_data.head().T

ModuleNotFoundError: No module named 'category_encoders'

From the output above we can see we only have "d.i khan" in our dataframe and we didn't have to change anything by hand.

# iii. Data Scalling, standardization and normalization

At EDA we apply a function to detect and remove outliers (IQR)

In [ ]:
#https://heartbeat.fritz.ai/exploratory-data-analysis-data-characteristics-and-visualizations-fdf2606ce1ab

#Let's see the distribution of the 'Blast Day Type' column, how many Working Days, Holydays, and Weekends
new_data['Blast Day Type'].value_counts